---
layout: default
title: Info
permalink: /info/
page_name: info
---

{% assign primary_msg = site.data.siteinfo.primary_msg %}
<!-- {% assign secondary_msg = site.data.siteinfo.secondary_msg %} -->
{% include message-of-the-page.html
           primary_msg=primary_msg
%}

<section class="info-section pb-5">
  <div class="info-header-section pt-5 pb-2">
    <div class="container">
      {% if site.lang == "en" %}
        {% include info/info-header.html info=site.info_en %}
      {% else %}
        {% include info/info-header.html info=site.info %}
      {% endif %}
    </div>
  </div>
  <hr>
  <div class="info-body-section pt-4">
    <div class="container">
      <div class="row">
        {% if site.lang == "en" %}
          {% for data in site.info_en %}
            {% for info in data.list %}
              {% include info/info-outline.html info=info category=data.category %}
            {% endfor %}
          {% endfor %}
        {% else %}
          {% for data in site.info %}
            {% for info in data.list %}
              {% include info/info-outline.html info=info category=data.category %}
            {% endfor %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</section>
