---
layout: default
title: Information
permalink: /infos/
page_name: infos
---

{% assign primary_msg = site.data.siteinfo.primary_msg %}
<!-- {% assign secondary_msg = site.data.siteinfo.secondary_msg %} -->
{% include message-of-the-page.html
           primary_msg=primary_msg
%}

<section class="info-section pb-5">
  <div class="info-header-section pt-5 pb-2">
    <div class="container">
      {% if site.lang == "en" %}
        {% include info/info-header.html infos=site.infos_en %}
      {% else %}
        {% include info/info-header.html infos=site.infos %}
      {% endif %}
    </div>
  </div>
  <hr>
  <div class="info-body-section">
    <div class="container">
      <div class="row">
        {% if site.lang == "en" %}
          {% for infos in site.infos_en %}
            {% for info in infos.list %}
              {% include info/info-outline.html info=info category=infos.category %}
            {% endfor %}
          {% endfor %}
        {% else %}
          {% for infos in site.infos %}
            {% for info in infos.list %}
              {% include info/info-outline.html info=info category=infos.category %}
            {% endfor %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</section>
