---
layout: default
title: Videos
permalink: /videos/
page_name: videos
---

{% assign primary_msg = site.data.siteinfo.primary_msg %}
<!-- {% assign secondary_msg = site.data.siteinfo.secondary_msg %} -->
{% include message-of-the-page.html
           primary_msg=primary_msg
%}

<section class="info-section pb-5">
  <div class="info-header-section pt-5 pb-2">
    <div class="container">
      {% if site.lang == "en" %}
        {% include info/video-header.html videos=site.videos_en %}
      {% else %}
        {% include info/video-header.html videos=site.videos %}
      {% endif %}
    </div>
  </div>
  <hr>
  <div class="info-body-section pt-4">
    <div class="container">
      <div class="row">
        {% if site.lang == "en" %}
          {% for data in site.videos_en %}
            {% for video in data.list %}
              {% include info/video-outline.html video=video category=data.category %}
            {% endfor %}
          {% endfor %}
        {% else %}
          {% for data in site.videos %}
            {% for video in data.list %}
              {% include info/video-outline.html video=video category=data.category %}
            {% endfor %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</section>
