---
layout: default
title: News
permalink: /news/
page_name: news
---

{% assign primary_msg = site.data.siteinfo.primary_msg %}
<!-- {% assign secondary_msg = site.data.siteinfo.secondary_msg %} -->
{% include message-of-the-page.html 
           primary_msg=primary_msg
%}

<!-- Blogs list -->
<div class="blogs-section py-5">
  <div class="container">
    <div class="card-columns">
      {% for post in site.posts %}
        {% include blogs/post-outline.html post=post %}
      {% endfor %}
    </div>

  </div>
</div>
