<section class="corona-stats">
  <div class="row no-gutters">
    <div class="col-md-6 col-6">
      <div class="world-stats px-4 py-3">
        <h5>{% t index.corona_stats.world %} <i class="fas fa-globe-americas"></i></h5>
        <div class="stats-details">
          <b>{% t index.corona_stats.total_infected %}:&nbsp;</b>
            {% if site.lang == "en" %}
              {{ site.data.corona_stats.en.world.confirmed }}
            {% else %}
              {{ site.data.corona_stats.np.world.confirmed }}
            {% endif %}
          <br>
          <b>{% t index.corona_stats.total_death %}:&nbsp;</b>
            {% if site.lang == "en" %}
              {{ site.data.corona_stats.en.world.deaths }}
            {% else %}
              {{ site.data.corona_stats.np.world.deaths }}
            {% endif %}
          <br>
          <b>{% t index.corona_stats.total_recovered %}:&nbsp;</b>
            {% if site.lang == "en" %}
              {{ site.data.corona_stats.en.world.recovered }}
            {% else %}
              {{ site.data.corona_stats.np.world.recovered }}
            {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <div class="nepal-stats px-4 py-3">
        <h5>{% t index.corona_stats.nepal %} <img src="/assets/img/nepal-flag.png" /></h5>
        <div class="stats-details">
          <b>{% t index.corona_stats.total_infected %}:&nbsp;</b>
            {% if site.lang == "en" %}
              {{ site.data.corona_stats.en.nepal.confirmed }}
            {% else %}
              {{ site.data.corona_stats.np.nepal.confirmed }}
            {% endif %}
          <br>
          <b>{% t index.corona_stats.total_death %}:&nbsp;</b>
            {% if site.lang == "en" %}
              {{ site.data.corona_stats.en.nepal.deaths }}
            {% else %}
              {{ site.data.corona_stats.np.nepal.deaths }}
            {% endif %}
          <br>
          <b>{% t index.corona_stats.total_recovered %}:&nbsp;</b>
            {% if site.lang == "en" %}
              {{ site.data.corona_stats.en.nepal.recovered }}
            {% else %}
              {{ site.data.corona_stats.np.nepal.recovered }}
            {% endif %}
        </div>
      </div>
    </div>
  </div>

  <h6 class="source mt-1">
    <b>{% t common.source %}:&nbsp;</b>
    <a href="{{ site.data.siteinfo.corona_stats_source }}" target="_blank">
      {{ site.data.siteinfo.corona_stats_source }}
    </a>
  </h6>
</section>