<section class="corona-stats">
  <div class="row no-gutters">
    <div class="col-md-6 col-6">
      <div class="world-stats px-4 py-3">
        <h5>{% t index.corona_stats.world %} <i class="fas fa-globe-americas"></i></h5>
        <div class="stats-details">
          <b>{% t index.corona_stats.total_infected %}:&nbsp;</b> {{ site.data.siteinfo.corona_stats.world.confirmed }}<br>
          <b>{% t index.corona_stats.total_death %}:&nbsp;</b> {{ site.data.siteinfo.corona_stats.world.deaths }}<br>
          <b>{% t index.corona_stats.total_recovered %}:&nbsp;</b> {{ site.data.siteinfo.corona_stats.world.recovered }}
        </div>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <div class="nepal-stats px-4 py-3">
        <h5>{% t index.corona_stats.nepal %} <img src="/assets/img/nepal-flag.png" /></h5>
        <div class="stats-details">
          <b>{% t index.corona_stats.total_infected %}:&nbsp;</b> {{ site.data.siteinfo.corona_stats.nepal.confirmed }}<br>
          <b>{% t index.corona_stats.total_death %}:&nbsp;</b> {{ site.data.siteinfo.corona_stats.nepal.deaths }}<br>
          <b>{% t index.corona_stats.total_recovered %}:&nbsp;</b> {{ site.data.siteinfo.corona_stats.nepal.recovered }}
        </div>
      </div>
    </div>
  </div>

  <h6 class="source mt-1">
    <b>श्रोत:&nbsp;</b>
    <a href="{{ site.data.siteinfo.corona_stats.nonmobile_source }}" target="_blank">
      <i class="fas fa-desktop"></i>
    </a>
    &nbsp;|&nbsp;
    <a href="{{ site.data.siteinfo.corona_stats.mobile_source }}" target="_blank">
      <b>&nbsp;</b><i class="fas fa-mobile-alt"></i>
    </a>
  </h6>
</section>