<div class="row no-gutters">
  <div class="col-md-6 col-6">
    <div class="world-stats px-4 py-3">
      <h5>World <i class="fas fa-globe-americas"></i></h5>
      <div class="stats-details">
        <b>Confirmed:</b> {{ site.data.siteinfo.corona_stats.world.confirmed }}<br>
        <b>Deaths:</b> {{ site.data.siteinfo.corona_stats.world.deaths }}<br>
        <b>Recovered:</b> {{ site.data.siteinfo.corona_stats.world.recovered }}
      </div>
    </div>
  </div>
  <div class="col-md-6 col-6">
    <div class="nepal-stats px-4 py-3">
      <h5>Nepal <img src="/assets/img/nepal-flag.png" /></h5>
      <div class="stats-details">
        <b>Confirmed:</b> {{ site.data.siteinfo.corona_stats.nepal.confirmed }}<br>
        <b>Deaths:</b> {{ site.data.siteinfo.corona_stats.nepal.deaths }}<br>
        <b>Recovered:</b> {{ site.data.siteinfo.corona_stats.nepal.recovered }}
      </div>
    </div>  
  </div>
</div>