<section class="helpgroup-section pb-6 wow fadeInUp">
  <div class="container">
    <div class="text-center mb-4">
      <h3>
        {% t index.helpgroup_caption %}
      </h3>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <div class="card">
          <img src="/assets/img/nepal-fight-corona.jpg" class="card-img-top" alt="loading..." />
          <div class="card-body p-3">
            <h5 class="card-title">Nepal Fights Corona (Facebook Group)</h5>
            <p class="card-text">
              An informal consortium of youths, activists, civil society organizations, experts of
              different fields formed in response to mitigating the risks of the global
              pandemic, COVID-19.
            </p>
            <a href="{{ site.baseurl }}/nepal-fights-corona" class="btn btn-sm btn-secondary">Read More
              <i class="fab ml-2 fa-telegram-plane"></i></a>
          </div>
        </div>
      </div>

  </div>
</section>
