<section class="info-section wow fadeInUp">
  <div class="info-body-section">
    <div class="container">
      <div class="text-center mb-4">
        <h3>
          {% t index.recent_info %}
        </h3>
      </div>
      <div class="row">
        {% if site.lang == "en" %}
          {% for infos in site.infos_en limit: 4 %}
            {% for info in infos.list limit: 1 %}
              {% include info/info-outline.html info=info category=infos.category %}
            {% endfor %}
          {% endfor %}
        {% else %}
          {% for infos in site.infos limit: 4 %}
            {% for info in infos.list limit: 1 %}
              {% include info/info-outline.html info=info category=infos.category %}
            {% endfor %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="info-header-section pt-3">
    <div class="container">
      <div class="text-center">
        <span class="info-categories">{% t index.category_info_label %}:</span>
        {% if site.lang == "en" %}
          {% include info/info-header.html infos=site.infos_en %}
        {% else %}
          {% include info/info-header.html infos=site.infos %}
        {% endif %}
      </div>
    </div>
  </div>
</section>