<script type="text/javascript" src="{{ "/assets/js/jquery-3.4.1.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/bootstrap-4.1.3.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/popper.min.js" | relative_url }}"></script>
<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/1.17.2/simple-lightbox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script type="text/javascript" src="{{ "/assets/js/custom.js" | relative_url }}"></script>
