<section class="info-section pb-5 wow fadeInUp">
  <div class="info-body-section pt-2">
    <div class="container">
      <div class="text-center mb-4">
        <h3>
          {% t index.recent_news %}
        </h3>
      </div>
      <div class="row">
        {% if site.lang == "en" %}
          {% for info in site.info_en %}
            {% for news in info.list limit: 1 %}
              {% include info/news-outline.html news=news category=info.category %}
            {% endfor %}
          {% endfor %}
        {% else %}
          {% for info in site.info %}
            {% for news in info.list limit: 1 %}
              {% include info/news-outline.html news=news category=info.category %}
            {% endfor %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="info-header-section pt-3 pb-2">
    <div class="container">
      <div class="text-center">
        <span class="news-categories">{% t index.category_news_label %}:</span>
        {% if site.lang == "en" %}
          {% include info/info-header.html info=site.info_en %}
        {% else %}
          {% include info/info-header.html info=site.info %}
        {% endif %}
      </div>
    </div>
  </div>
</section>