// Header SCSS
.navbar {
  height: 70px;
  padding: 0;
  background: $color3;
  box-shadow: 4px 5px 30px rgba(0,0,0,0.1);
}
.navbar-nav .nav-item .nav-link {
  color: $color1;
}
.navbar-nav .nav-item.active .nav-link {
  color: yellow;
  font-weight: 800;
}
.navbar-brand {
  height: inherit;
  margin-top: 15px;
  font-size: 25px;
  padding-bottom: 0px;
  margin-left: 2%;
  font-family: 'Faster One', cursive;
  color: yellow !important;
  margin-right: 5px;
}
.tagline {
  color: lightyellow;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 11px;
}
.navbar-brand img {
  height: 90%;
  margin-left: 20%;
}
.navbar-nav {
  margin-left: 10%;
}
.navbar-toggler {
  margin-right: 10px;
}
.navbar-collapse .navbar-nav a {
  color: $color1;
  font-size: 13px;
}
.navbar-collapse .nav-item {
  margin-right: 10px;
}
.navbar-collapse .nav-link {
  padding: 5px;
  font-weight: 500;
}
.navbar .dropdown {
  margin-top: 3px;
}
.navbar .dropdown .dropdown-menu {
  width: 200px;
}
.navbar .dropdown .dropdown-menu li:hover {
  background: $color3;
}
.btn.active:focus {
  box-shadow: none !important;
}

// Code Highlighting
pre, code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}
code {
  padding: 1px 5px;
}
pre {
  padding: 8px 12px;
  overflow-x: auto;
}

// message of the page
.message-of-the-page {
  text-align: center;

  .primary-msg {
    background: $color2;
    color: $color1;
    font-size: 17px;
  }
  .secondary-msg {
    background: $color4;
    color: $color1;
    font-size: 15px;
  }
}

.home-section {
  .message-of-day {
    padding: 2em;
    font-size: 16px;
    background: #323232;
    color: #ccc;
    font-weight: 600;
  }
  .section-bar {
    background-color: #ccc;
    width: 60%;
    text-align: center;
  }
  .world-stats {
    background: #ccc;
  }
  .nepal-stats {
    background: #ddd;
  }
  .post-list {
    list-style: none;
  }
  .stats-details {
    font-size: 12px;
  }
  .video-play {
    background-image: url("/assets/img/banner-video-play.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 117px;
  }
  .video-play-en {
    background-image: url("/assets/img/banner-video-play-en.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 117px;
  }
  .fa-globe-americas {
    color: #0416e8;
  }
}

.corona-stats {
  .source {
    font-size: 11px;
  }
}

// News Card
.news_card {
  border: none;
  margin-bottom: 2em;

  .card-img-top {
    height: 140px;
  }
  .card-title {
    font-size: 13px;
  }
  .news_url {
    color: #333;
    &:hover {
      text-decoration: none !important;
    }
  }
  .published_on {
    font-size: 11px;
  }
  .source {
    font-size: 10px;
    &:hover {
      text-decoration: none;
    }
  }
  .badge {
    color: #333;
    font-size: 11px;
    font-weight: normal;
    padding: 5px 15px !important;
    margin-left: 5px;
    background: #eee;
  }
}

.news-categories {
  font-size: 14px;
  font-weight: bold;
}

.contribute-pitch {
  background: $color2;
  color: $color1;
  padding: 2em;
}

// footer css
.footer-section {

  .footer-heading {
    font-size: 18px;
    margin-bottom: 15px;
    margin-left: 2.1em;
  }
  /** footer-bottom **/
  .footer-bottom{
    position: relative;
    font-size: 11px;
    background: #323232;
    padding: 5px 0;
    color: $color1;

    a {
      color: yellow !important;
    }
  }
}
