
@media (max-width: 992px) {
}
@media (min-width: 992px) {
  .card-columns {
    column-count: 4 !important;
  }
}


@media (max-width: 768px) {
  // body .container, body .footer-section .container {
  //   width: 80%;
  // }
  .navbar-collapse {
    background: $color3;
    z-index: 100;
    padding: 2em 0;
    margin-top: -10px;
  }
  .navbar-toggler {
    margin-top: -10px;
  }
  .navbar-brand {
    margin-top: 10px !important;
    font-size: 22px;
  }
  .card-columns {
    column-count: 3 !important;

    .card {
      .card-title {
        font-size: 0.9em;
      }
    }
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    max-width: 70%;
  }
}

@media (max-width: 550px) {
  // body .container, body .footer-section .container {
  //   width: 90%;
  // }
  .navbar-brand {
    margin-left: 1em !important;
    font-size: 16px;
  }
  .tagline {
    font-size: 11px;
  }
  .card-columns {
    column-count: 2 !important;
  }
  .contribute-pitch {
    h3 {
      font-size: 20px;
    }
  }
}

@media(max-width: 360px) {
  .tagline {
    display: none;
  }
}
