
@media (max-width: 992px) {
}
@media (min-width: 992px) {
  .card-columns {
    column-count: 4 !important;
  }
}


@media (max-width: 768px) {
  // body .container, body .footer-section .container {
  //   width: 80%;
  // }
  .banner-area {
    .container {
      width: 100%;
      padding: 0;
    }
  }
  .navbar-collapse {
    background: $color3;
    z-index: 100;
    padding: 2em 0;
    margin-top: -10px;
  }
  .navbar-toggler {
    margin-top: -10px;
  }
  .navbar-brand {
    margin-top: 10px !important;
    font-size: 22px;
    margin-left: 5%;
  }
  .card-columns {
    column-count: 3 !important;

    .card {
      .card-title {
        font-size: 0.9em;
      }
    }
  }
  .tagline {
    margin-left: -100px;
  }
  .language-switch-section {
    margin-top: -10px;
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    max-width: 65%;
  }
}

@media (max-width: 550px) {
  .navbar-brand {
    margin-left: 1em !important;
    font-size: 16px;
  }
  .tagline {
    font-size: 11px;
    display: none;
  }
  .card-columns {
    column-count: 2 !important;
  }
  .contribute-pitch {
    h3 {
      font-size: 16px;
    }
  }
  .news_card {
    .card-img-top {
      height: 120px;
    }
  }
  .blog-post-page {
    .post-container {
      padding: 2em 1.5em;
    }
  }

  .pinterest-style {
    a.prev {
      left: 0;
    }
    a.next {
      right: 0;
    }
  }
}

@media(max-width: 360px) {
  .tagline {
    display: none;
  }
}
