

/* Custom SCSS */
$color1: #fff;
$color2: #00204a;
$color3: #005792;
$color4: #00bbf0;
$color5: #d9faff;

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  margin-top: 70px;
}

// h1, h2, h3, h4, h5, h6 {
//   font-family: "Montserrat", Arial, sans-serif;
// }

.fa-twitter {
  color: #38A1F3;
}
.fa-youtube {
  color: red;
}
.fa-facebook-f {
  color: #4267b2;
}
.fa-github {
  color: #ccc;
}
.fa-linkedin-in {
  color: #0077B5;
}

.p-6 {
  padding: 4em;
}
.px-6 {
  padding: 0 4em;
}
.py-6 {
  padding: 4em 0;
}
.pt-6 {
  padding-top: 4em;
}
.pb-6 {
  padding-bottom: 4em;
}
.p-7 {
  padding: 5em;
}
.px-7 {
  padding: 0 5em;
}
.px-8 {
  padding: 0 6em;
}
.px-9 {
  padding: 0 7em;
}
.py-7 {
  padding: 5em 0;
}
.pt-7 {
  padding-top: 5em;
}
.pb-7 {
  padding-bottom: 5em;
}
.mt-6 {
  margin-top: 5em;
}
.my-6 {
  margin: 5em 0;
}

// remove all buttons border radius
.btn {
  border-radius: 0 !important;
}

.section-padding {
  padding: 70px 0;
}

.unstyle_list {
  list-style: none;
}

#youtubeVideoModal, #facebookVideoModal {
  top: 5%;

  .modal-content {
    background-color: transparent;
    border: none;

    .modal-header {
      border-bottom: none;
      padding: 0 1em;

      .close {
        color: #fff;
        padding: 0 0.5em;
        font-size: 40px;
      }
    }
  }
}

// Page Top
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10%;
  right: 4%;
  overflow: hidden;
  z-index: 999;
  width: 32px;
  height: auto;
  border: none;
  text-indent: 100%;
}
#toTopHover {
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

@import "animate.min";
@import "home";
@import "blogs";
@import "helpgroup";
@import "contact";
@import "info";
@import "responsive";
