.projects-section {
  hr {
    border: 1px solid rgba(0,0,0,.1);
    margin-bottom: 5px;
  }
}
.project-details {
  font-family: "Open sans", sans-serif;

  h1, h2, h3, h4, h5, h6 {
    color: $color3;
  }
  h4 {
    font-weight: 600;
    margin-top: 30px;
  }
  .project-info span {
    font-size: 13px;
  }
  .project-title {
    font-size: 2.5em;
    color: #111;
    font-family: "Oswald", sans-serif;
  }
  .project-body {
    font-weight: normal;
    font-family: "Open sans", sans-serif;
    color: #333;

    .opening-text {
      font-size: 22px;
      font-weight: 600;
      color: #111;
      line-height: 25px;
      font-family: 'Oswald', sans-serif;
    }

    img.circular {
      display: block;
      margin: 0 auto;
      width: 250px;
      height: 250px;
      padding-left: 0;
      border-radius: 100%;
      width: 100%;
    }
    img.centered {
      display: block;
      margin: 0 auto;
      padding: 0;
    }
    img.full-width {
      width: 100%;
    } 
  }
  .table thead th {
    color: #333;
  }

  hr {
    border-top: 1px solid #ccc;
  }
}

