<div class="row events-grid mt-4">
  <div class="col-lg-4 col-md-3 col-4 events-grid-left pr-0">
    <a href="{{ include.event.link_to }}">
      <img src="{{ site.url }}/assets/images/{{ include.event.pic }}" class="img-fluid" />
    </a>
  </div>
  <div class="col-lg-8 col-md-7 col-8 events-grid-right mt-lg-0 mt-md-5 mt-sm-4">
    <h4>
      <a href="{{ include.event.link_to }}">{{ include.event.name }}</a>
    </h4>
    <ul class="blog_events_list mt-2">
      <li class="mr-2 text-dark">
        <i class="fas fa-calendar-alt mr-2" aria-hidden="true"></i>{{ include.event.date }}</li>
      <li>
        <i class="fas fa-book-reader" aria-hidden="true"></i>
        <a class="text-dark ml-2">{{ include.event.type }}</a>
      </li>
    </ul>
  </div>
</div>
