<div class="row mt-2">
  <div class="col-md-6">
    {% if page.previous %}
    <a href="{{ page.previous.url }}">
      <h6 class="mt0"><i class="far fa-arrow-alt-circle-left mr-1"></i>{{ page.previous.title }}</h6>
    </a>
    {% else %}
    &nbsp;
    {% endif %}
  </div>
  <div class="col-md-6">
    {% if page.next %}
    <a href="{{ page.next.url }}" class="float-right">
      <h6 class="mt0">{{ page.next.title }}<i class="far fa-arrow-alt-circle-right ml-1"></i></h6>
    </a>
    {% endif %}
  </div>
</div>
