<div class="col-md-12 col-sm-12 mb-4">
  <div class="blog-card p-2">
    <div class="row">
      <div class="col-md-3 post-img">
        <img class="img-full-width ml-md-2" src="{{ site.images_base_url }}/img/{{ include.post.thumbnail_path}}" alt="{{ include.post.title }}" />
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <div class="border-bottom">
            <h5 class="blog-card-title font-weight-bold">
              <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">{{ include.post.title }}</a>
            </h5>
            <div class="blog-card-heading">
              <!-- <span><i class="fa fa-user mr-2"></i>{{ include.post.author }}</span> -->
              <span><i class="fa fa-calendar-alt"></i>
                {{ include.post.date | date_to_long_string }}
              </span>
              <small class="text-muted">
                {% include blog/read-time.html
                            content=include.post.content
                            bracket_start='('
                            bracket_end=')'
                            unit='min'
                            approx='true'
                            caption='read'
                %}
              </small>
            </div>
          </div>
          <p class="blog-card-text mt-3">
            {{ include.post.content | strip_html | truncatewords: 30 }}
            <a href="{{ site.baseurl }}{{ post.url }}" class="blog-btn text-danger">Read more</a>
          </p>
          <p class="post-tags">
            <i class="fa fa-tags"></i>
            {% for tag in include.post.tags %}
              {% if page.is_tags_page %}
                {% assign tag_url_base = "" %}
              {% else %}
                {% assign tag_url_base = "/blogs/tags/" %}
              {% endif %}
              <a href="{{ site.baseurl }}{{ tag_url_base }}#{{ tag | uri_escape }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
