---
layout: default
title: Blogs
permalink: /blogs
---

{% assign primary_msg = site.data.siteinfo.primary_msg %}
<!-- {% assign secondary_msg = site.data.siteinfo.secondary_msg %} -->
{% include message-of-the-page.html 
           primary_msg=primary_msg
%}

<!-- Blogs list -->
<div class="blogs-section mt-5">
  <div class="container">
    <div class="card-columns">
      {% for post in site.posts %}
        {% include blogs/post-outline.html post=post %}
      {% endfor %}
    </div>

    <!-- {% include pagination.html %} -->
  </div>
</div>
