---
layout: default
---

<div class="post-section mt-5">
  <!-- Wrapper Start -->
  <section id="intro">
    <div class="container">
      <div class="row">
        <p class="center-text pt-3">
          <a href="{{ site.url }}/" role="button" class="btn btn-sm btn-danger px-3">
            गृह
          </a>
          <a href="{{ site.url }}/news" role="button" class="btn btn-sm btn-success px-3">
            समाचार सूची
          </a>
        </p>
      </div>
      <div class="row">
      </div>
    </div>
  </section>
</div>
