---
layout: default
---

<div class="post-section mt-5">
  <!-- Wrapper Start -->
  <section id="intro">
    <div class="container">
      <div class="row">
        {% include render-url.html 
              url=page.news_url 
        %}
      </div>

      <div class="row mx-0">
        <p class="center-text py-3">
          <a href="{{ site.baseurl }}/" role="button" class="btn btn-danger px-3">
            गृह
          </a>
          <a href="{{ site.baseurl }}/news" role="button" class="btn btn-success px-3">
            समाचार सूची
          </a>
        </p>
      </div>
    </div>
  </section>
</div>
