---
layout: default
page_name: videos
---

{% assign primary_msg = site.data.siteinfo.primary_msg %}
<!-- {% assign secondary_msg = site.data.siteinfo.secondary_msg %} -->
{% include message-of-the-page.html
           primary_msg=primary_msg
%}

<section class="info-section pb-5">
  <div class="info-header-section pt-5 pb-2">
    <div class="container">
      {% if site.lang == "en" %}
        {% include info/video-header.html videos=site.videos_en %}
      {% else %}
        {% include info/video-header.html videos=site.videos %}
      {% endif %}
    </div>
  </div>
  <hr>
  <div class="info-body-section pt-4">
    <div class="container">
      <div class="row">
        {% for video in page.list %}
          {% include info/video-outline.html video=video category=page.category %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>