---
layout: default
page_name: videos
---

<section class="info-section pb-4">
  <div class="info-header-section pt-5 pb-2">
    <div class="container">
      {% if site.lang == "en" %}
        {% include info/video-header.html videos=site.videos_en %}
      {% else %}
        {% include info/video-header.html videos=site.videos %}
      {% endif %}
    </div>
  </div>
  <hr>
  <div class="info-body-section pt-4">
    <div class="container">
      <div class="row">
        {% for video in page.list %}
          {% include info/video-outline.html video=video category=page.category %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
